@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: hsl(240, 38%, 20%);
    background: url(/images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: left 0 bottom 0;
}

.wrapper{
    height: 100vh;
    max-width: 1200px;
    background: url(/images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-position: left 100% top 10px ;
    
}

.container{
    margin: 1.5rem;
}
.testimonials{
    display: flex;
    align-items: center;
}

.textSection{
    background: url(/images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: left 80px top 0px;
}

.textSection h1{
    font-weight: 500;
    padding: 50px 0;
}

.imgSection{
    position: relative;
}

.img{
    height: 100%;
    margin-top: 50px;
}

.sliderComponent{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    padding: 15px;
    border-radius: 36px;
    box-shadow: 0 1px 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 93%;
    left: 10%;
}

.info{
    display: flex;
    gap: 20px;
    font-weight: 700;
}

/* .name{
    font-weight: 700;
} */

.job{
    color: hsl(240, 18%, 77%);
}

@media(max-width: 800px){
    .wrapper{
        background-size: 220px;
        background-position: left 50% top 0px;
        margin-top: 50px;
    }
    .container{
        margin: 0;
    }
    .img{
        margin: 0;
    }
    .testimonials {
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .textSection h1 {
        font-size: 18px;
        font-weight: 500;
        padding: 15px 15px;
    }
    .textSection{
        margin-top: 50px;
        background-size: 50px;
        background-position: left 43% top 0px;
    }
    img {
        width: 50%;
        height: 100%;
    }
    .sliderComponent{
        width: 50px;
        padding: 5px;
        left: 43%;
    }
    .info{
        display: block;
        font-size: 10px;
    }
}

@media(max-width: 900px){

}
